<link rel="stylesheet" href="/styles/filters.css">

<form action="/search" method="POST" class="search-filters">
        <input type="text" name="locationQuery" placeholder="Country, City, ZIP Code, Neighborhood etc">
    
    <div class="property-type">
        <select name="propertyFilters[type]" id="typeSelect">
            <option value="Residential">Residential</option>
            <option value="Commercial">Commercial</option>
            <option value="Land">Land</option>
        </select>
    </div>

    <div class="subtype-type">
        <select name="propertyFilters[subtype]" id="subtypeSelect">
            <option value="">Subtype</option>
            <!-- Subtype options will be populated dynamically based on property type selection -->
        </select>
    </div>

    <div class="sale-type">
        <select name="propertyFilters[forRent]" id="saleSelect">
            <option value="1">Rent</option>
            <option value="0">Sale</option>
        </select>
    </div>

    <div class="price-cont">
        <button id="price-btn">Price</button>
        <div id="price-menu">
            <div class="price-min">
                <select name="propertyFilters[minPrice]" value=" null" id="priceMin">
                    <option value="null">Any</option>
                    <option value="50000">50.000€</option>
                    <option value="100000">100.000€</option>
                    <option value="150000">150.000€</option>
                    <option value="200000">200.000€</option>
                    <option value="250000">250.000€</option>
                    <option value="300000">300.000€</option>
                    <option value="350000">350.000€</option>
                    <option value="400000">400.000€</option>
                    <option value="450000">450.000€</option>
                    <option value="500000">500.000€</option>
                    <option value="550000">550.000€</option>
                    <option value="600000">600.000€</option>
                    <option value="650000">650.000€</option>
                    <option value="700000">700.000€</option>
                    <option value="750000">750.000€</option>
                    <option value="800000">800.000€</option>
                    <option value="850000">850.000€</option>
                    <option value="900000">900.000€</option>
                    <option value="950000">950.000€</option>
                    <option value="1000000">1.000.000€</option>
                </select>
            </div>
            <div class="price-max">
                <select name="propertyFilters[maxPrice]" value=" null" id="priceMax">
                    <option value="null">Any</option>
                    <option value="50000">50.000€</option>
                    <option value="100000">100.000€</option>
                    <option value="150000">150.000€</option>
                    <option value="200000">200.000€</option>
                    <option value="250000">250.000€</option>
                    <option value="300000">300.000€</option>
                    <option value="350000">350.000€</option>
                    <option value="400000">400.000€</option>
                    <option value="450000">450.000€</option>
                    <option value="500000">500.000€</option>
                    <option value="550000">550.000€</option>
                    <option value="600000">600.000€</option>
                    <option value="650000">650.000€</option>
                    <option value="700000">700.000€</option>
                    <option value="750000">750.000€</option>
                    <option value="800000">800.000€</option>
                    <option value="850000">850.000€</option>
                    <option value="900000">900.000€</option>
                    <option value="950000">950.000€</option>
                    <option value="1000000">1.000.000€</option>
                </select>
            </div>
        </div>
    </div>

    <div class="surface-cont">
        <button id="surface-btn">Surface</button>
        <div id="surface-menu">
                <div class="surface-min">
                    <select name="propertyFilters[minSurface]" value=" null" id="surfaceMin">
                        <option value="null">Any</option>
                        <option value="50">50τ.μ</option>
                        <option value="100">100τ.μ</option>
                        <option value="150">150τ.μ</option>
                        <option value="200">200τ.μ</option>
                        <option value="250">250τ.μ</option>
                        <option value="300">300τ.μ</option>
                        <option value="350">350τ.μ</option>
                        <option value="400">400τ.μ</option>
                        <option value="450">450τ.μ</option>
                        <option value="500">500τ.μ</option>
                        <option value="550">550τ.μ</option>
                        <option value="600">600τ.μ</option>
                        <option value="650">650τ.μ</option>
                        <option value="700">700τ.μ</option>
                        <option value="750">750τ.μ</option>
                        <option value="800">800τ.μ</option>
                        <option value="850">850τ.μ</option>
                        <option value="900">900τ.μ</option>
                        <option value="950">950τ.μ</option>
                        <option value="1000">1.000τ.μ</option>
                    </select>
                </div>
                <div class="surface-max">
                    <select name="propertyFilters[maxSurface]" value=" null" id="surfaceMax">
                        <option value="null">Any</option>
                        <option value="50">50τ.μ</option>
                        <option value="100">100τ.μ</option>
                        <option value="150">150τ.μ</option>
                        <option value="200">200τ.μ</option>
                        <option value="250">250τ.μ</option>
                        <option value="300">300τ.μ</option>
                        <option value="350">350τ.μ</option>
                        <option value="400">400τ.μ</option>
                        <option value="450">450τ.μ</option>
                        <option value="500">500τ.μ</option>
                        <option value="550">550τ.μ</option>
                        <option value="600">600τ.μ</option>
                        <option value="650">650τ.μ</option>
                        <option value="700">700τ.μ</option>
                        <option value="750">750τ.μ</option>
                        <option value="800">800τ.μ</option>
                        <option value="850">850τ.μ</option>
                        <option value="900">900τ.μ</option>
                        <option value="950">950τ.μ</option>
                        <option value="1000">1.000τ.μ</option>
                    </select>
                </div>
        </div>
    </div>
    <div class="moreFilters">
        <button type="button"  id="filtersBtn">More</button>
    </div>

    <div class="additional-filters" id="additionalFilters" >
        <!-- Additional filters will be added here based on the property type -->
    </div>

    <div class="searchFilter">
        <button type="submit" class="search" id="searchBtn">
            {{!-- <img src="images/search-icon.png" alt="Search"> --}}
            Search
        </button>
    </div>
</form>
<hr>

<section class="listings">
    {{#if properties}}
        <div class="title">
            <h2>Search results</h2>
            <p>Showing {{numOfResults}} results</p>
        </div>
        
        <div class="properties">
            {{#each properties}}
                <a href="/property/{{this.id}}">
                    <figure class="property">
                        <img src="images/appartment.jpg" alt="House Image">
                        <div class="details">
                            <p class="type">
                                    {{#if this.subtype}}
                                        {{this.type}} / {{this.subtype}}
                                    {{else}}
                                        {{#if this.buildable}}
                                            {{this.type}} / Plot
                                        {{else}}
                                            {{this.type}} / Parcel
                                        {{/if}}
                                    {{/if}}
                            </p>
                            <p class="price"><b>
                                <script>
                                    if ({{this.forRent}}) {
                                        document.write('€' + ({{this.price}}).toLocaleString() + '/mo');
                                    } else {
                                        document.write('€' + ({{this.price}}).toLocaleString());
                                    }
                                </script></b>
                            </p>
                            <p class="info">
                                {{#if this.subtype}}
                                    {{#if this.bedrooms}}
                                        <b>{{this.bedrooms}}</b> bed 
                                    {{/if}}
                                    <b>{{this.bathrooms}}</b> bath 
                                {{/if}}
                                    <b>{{this.surface}}</b> m&sup2
                            </p>
                            <p class="address">{{this.address}}</p>
                        </div>
                    </figure>
                </a>
            {{/each}}
        </div>
    {{/if}}
    
</section>

<script src="scripts/search-properties-script.mjs" defer></script>
<script src="scripts/button.js" defer></script>