<link rel="stylesheet" href="/styles/home.css">

<section class="cont-img-bgr">
    <div class="main-content">

        <div class="catchphrase">
            <h1>{{catchphrase}}</h1>
        </div>

        <div class="buy-rent">
            <div class="tabs">
                <input type="radio" name="tabs" value="rent" id="buy" checked>
                <label class="tab" for="buy">Αγορά</label>
                <input type="radio" name="tabs" value="buy" id="rent">
                <label class="tab" for="rent">Ενοικίαση</label>

                <span class="glider"></span>
            </div>
        </div>

        <div class="search-bar">
            <input type="text" placeholder="Country, City, ZIP Code, Neighborhood etc">
            <button><img src="images/search-icon.png"></button>
        </div>
    </div>
</section>

<section class="new-listings">
    <div class="new-listings-title">
        <h2>Νέα Ακίνητα προς Πώληση</h2>
    </div>
    <div class="sale-listings">
        {{#each propertiesForSale}}
            <a href="/property/{{this.id}}">
                <figure class="property-listing">
                    <img src="images/bgr-photo-main.jpg" alt="House Image">
                    <figcaption>
                        <h2>{{this.type}}</h2>
                        <p>Price: €{{this.price}}</p>
                        <p>{{this.surface}}τ.μ</p>
                    </figcaption>
                </figure>
            </a>
        {{/each}}

        <figure class="property-listing">
            <img src="images/bgr-photo-main.jpg" alt="House Image">
            <figcaption>
                <h2>Κατοικία</h2>
                <p>Πατρα,Αρόη</p>
                <p>Price: €80,000</p>
                <p>Κρεβατοκάμαρες: 2 Μπάνια: 1</p>
                <p>600τ.μ</p>
            </figcaption>
        </figure>

        <figure class="property-listing">
            <img src="images/bgr-photo-main.jpg" alt="House Image">
            <figcaption>
                <h2>Κατοικία</h2>
                <p>Θεσσαλονικη,Τούμπα</p>
                <p>Price: €120,000</p>
                <p>Κρεβατοκάμαρες: 3 Μπάνια: 2</p>
                <p>800τ.μ</p>
            </figcaption>
        </figure>

    </div>
    <div class="new-listings-title">
        <h2>Νέα Ακίνητα προς Ενοικίαση</h2>
    </div>
    <div class="rent-listings">
        {{#each propertiesForRent}}
            <a href="/property/{{this.id}}">
                <figure class="property-listing">
                    <img src="images/bgr-photo-main.jpg" alt="House Image">
                    <figcaption>
                        <h2>{{this.type}}</h2>
                        <p>Price: €{{this.price}}</p>
                        <p>{{this.surface}}τ.μ</p>
                    </figcaption>
                </figure>
            </a>
        {{/each}}

    </div>
</section>