<link rel="stylesheet" href="/styles/home.css">

<section class="cont-img-bgr">
    <div class="main-content">

        <div class="catchphrase">
            <h1>{{catchphrase}}</h1>
        </div>

        <div class="buy-rent">
            <div class="tabs">
                <input type="radio" name="tabs" value="rent" id="buy" checked>
                <label class="tab" for="buy">Αγορά</label>
                <input type="radio" name="tabs" value="buy" id="rent">
                <label class="tab" for="rent">Ενοικίαση</label>

                <span class="glider"></span>
            </div>
        </div>

        <div class="search-bar">
            <input type="text" placeholder="Πόλη,Περιοχή,Οδός">
            <button id="search-button"><img src="images/search-icon.png"></button>
        </div>
    </div>
</section>

<section class="new-listings">
    <div class="new-listings-title">
        <h2>Νεες Αγγελιες Κατοικιων</h2>
    </div>
    <div class="homes-listing">
          {{#each land_properties}}

          <a href="/properties/{{id}}" > <figure class="property-listing">
                <img src="{{image}}" alt="House Image">
                <figcaption>
                    <h2>{{subtype}}</h2>
                    <p>{{location}}</p>
                    <p>{{sale}}</p>
                    <p>Τιμή: €{{price}}</p>
                    <p>Κρεβατοκάμαρες: {{bedrooms}} Μπάνια: {{bathrooms}}</p>
                    <p>{{area}}τ.μ</p>
                </figcaption>
            </figure> </a>
            {{/each}}

    </div>
    <div class="new-listings-title">
        <h2>Νεες Αγγελιες Οικοπέδων</h2>
    </div>
    <div class="land-listing">
        {{#each properties}}
            <figure class="property-listing">
                <img src="{{image}}" alt="House Image">
                <figcaption>
                    <h2>{{subtype}}</h2>
                    <p>{{location}}</p>
                    <p>{{sale}}</p>
                    <p>Τιμή: €{{price}}</p>
                    <p>Κρεβατοκάμαρες: {{bedrooms}} Μπάνια: {{bathrooms}}</p>
                    <p>{{area}}τ.μ</p>
                </figcaption>
            </figure>
            {{/each}}

    </div>
</section>
