<section class="My-inquiries">
    <h1>My Inquiries</h1>
    <div class="inquiries">
        {{#each inquiries}}
        <div class="inquiry">
            <div class="inquiry-info">
                <p><span>Property:</span> <a href="/property/{{this.id}}">{{this.address}}</a> </p>
                <p><span>Interest shown by:</span> {{this.fName}} {{this.lName}}</p>
                <p><span>Email:</span> {{this.username}}</p>
                <p><span>Phone:</span> {{this.phone}}</p>
                <p><span>Message:</span>{{this.message}}</p>
                <p><span>Date:</span> {{this.createdAt}}</p>
                
            </div>
            
        </div>
        {{/each}}
    </div>
</section>